include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude container_recipes *
recursive-exclude examples *
recursive-exclude notebooks *
recursive-exclude scripts *
recursive-exclude subselection *

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
recursive-include carps/configs *
