ConfigSpace~=0.7.1
hydra-core
hydra-colorlog
rich~=13.4.2
pandas
omegaconf~=2.3.0
dataclasses-json~=0.5.9
pymysql
cryptography
domdf_python_tools
py-experimenter @ git+https://github.com/tornede/py_experimenter@feature-pause-execution