ConfigSpace~=0.7.1
hydra-core==1.3.2
hydra-colorlog==1.2.0
rich==13.4.2
pandas==1.2.4
omegaconf==2.3.0
dataclasses-json==0.5.14
PyMySQL==1.1.0
cryptography==3.4.8
domdf_python_tools
py-experimenter @ git+https://github.com/tornede/py_experimenter@feature-pause-execution